<div class="text-4xl font-bold mb-7"><%= @collection.name %></div>

<div class="grid grid-cols-4 gap-5">
  <% @collection.products.each do |product| %>
    <div><%= render "product", product: product %></div>
  <% end %>
</div>
