@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  nav {
    @apply bg-black w-full z-20 border-b;
    sad
  }

  td {
    @apply text-center
      text-sm
      px-2.5
      py-2
      xl:text-base
      xl:px-3
      xl:py-4
      border-2;
  }

  th {
    @apply text-sm
      font-bold
      px-3
      py-4
      lg:text-base;
  }

  hr {
    @apply mx-auto
      my-2
      h-[2px]
      w-full
      rounded-sm
      border-0
      bg-gray-200;
  }

}

@layer components {
  .flyout-link {
    @apply block py-2 px-3 text-white rounded-sm hover:text-gray-300 text-xl;
  }

  .flyout-list {
    @apply flex justify-around gap-10 font-medium border rounded-lg;
  }

  .flyout-container {
    @apply max-w-screen-xl flex mx-auto p-4;
  }

  .logo {
    @apply h-16 w-max;
  }

  .unselected-category {
    @apply px-3 hover:bg-black hover:text-white
  }

  .selected-category {
    @apply px-3 bg-black text-white
  }
  .logo {
    @apply h-16 w-max;
  }

  .show-page-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
  }

  .button-size {
    @apply font-extralight px-5 py-2 bg-gray-300 hover:text-gray-300 hover:bg-black text-sm;
  }

  .selected-button-size {
    @apply font-extralight px-5 py-2 bg-black text-gray-300 text-sm;
  }
}

@layer utilities {
}
