<div class="text-4xl font-bold mb-6"><%= collection.name %></div>

<div class="overflow-auto whitespace-nowrap">
  <% collection.products.each do |product| %>
    <div class="inline-flex pr-5">
      <%= render "shared/product",
        product: product
      %>
    </div>
  <% end %>
</div>
