<div class="text-4xl font-bold mb-6">Sport</div>

<div class="overflow-auto whitespace-nowrap">
  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>
</div>

<div class="text-4xl font-bold mt-10 mb-6">traning</div>

<div class="overflow-auto whitespace-nowrap">
  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>

  <div class="inline-block pr-5">
    <img class="w-90" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/c9e50afdbdcb405486de84a4f52eee07_9366/Gazelle_Indoor_Shoes_Brown_JQ0175_01_00_standard.jpg">
    <div class="text-xl">item</div>
  </div>
</div>
