<%= turbo_frame_tag "modal", target: "_top" do %>
    <div class=" left-0 right-0 bg-white my-20 mx-60 z-10 fixed">
      new product
    </div>
    <div class="w-full h-full bg-black opacity-50 fixed bottom-0 left-0 top-0 right-0 text-center">
    </div>
  </div>

<% end %>